# Introduction to Python

### Zero2Hero Academy

#### 1. Variables

In [3]:
x = 5
y = 10

In [4]:
x+y

15

In [5]:
x-y

-5

In [6]:
10*(x/y)**x

0.3125

In [13]:
a = 10
c = 7.5
b = ""

In [25]:
name = input('Nombre: ')
age = "24"

Nombre: Jonatan

In [24]:
name+' tiene '+str(age)+' anios'

'Jonatan tiene 24 anios'

In [27]:
int(age)/10

2.4

#### 2. Logica

In [1]:
10 < 3

False

In [36]:
username = "blankdank"
password = "1234"

user_username = input('username: ')
user_password = input('password: ')

username == user_username and password == user_password

username: h
password: h

False

In [46]:
nombre = 'christopher'
edad = 29

# criterios de seleccion
edad_max = 45
remuneracion_min = 200000

#aplicacion para que sugar mommies hagan match con sugar babies
user_age = input('age: ')
user_monthly = input('monthly colaboration: ')

#modelo de clasificacion
edad_max >= int(user_age) or float(user_monthly) >= remuneracion_min

age: 30
monthly colaboration: 25.5

True

In [8]:
#ejemplo discoteca
edad = input('edad: ')
edad = int(edad)

#criterio de decision para permitir entrada a discoteca
edad >= 18

edad: 24

True

#### 3. Condicionales

In [21]:
edad = input('edad: ')
edad = int(edad)
if edad >= 18:
    print('Puedes entrar')
else:
    print('No puedes entrar')

edad: 16
No puedes entrar

Ejemplo Log In

In [22]:
#datos reales del usuario
password = '1234'
username = 'blankhall'

In [36]:
#log in
usr = input('username: ')
pss = input('password: ')

username: blankhall
password: 1234

In [38]:
#validation
if password == pss and usr == username:
    print('Acceso permitido')
else:
    print('Usuario o Contrasena incorrectos')

Acceso permitido

if-else

In [43]:
# 0-5 reprobado
# 6 condicionado
# 7-10 aprobado

#variables input
nombre = input('nombre del alumno: ')
calif = float(input('calificacion del alumno: '))


estado_alumno = ''
#codigo de clasificacion
if calif < 6:
    estado_alumno = 'reprobado'
elif calif >= 6 and calif < 7:
    estado_alumno = 'condicionado'
else:
    estado_alumno = 'aprobado'

#resultado
print(f'El alumno {nombre} tiene una calificacion de {calif}/10, lo que le otorga un estado de {estado_alumno}')

nombre del alumno: fede
calificacion del alumno: 6.1
El alumno fede tiene una calificacion de 6.1/10, lo que le otorga un estado de condicionado

In [46]:
nacionalidad = input('nacionalidad: ')

if nacionalidad == 'Americano':
    print('Hello my friend')
elif nacionalidad == 'Mexicano':
    print('Que pedo wey')
elif nacionalidad == 'Aleman':
    print('Guten Tag')
else:
    print('Hey')

nacionalidadHolandes
Hey

#### 4. Listas

In [49]:
amigos = ['Joshua','Benito','Angel']

In [50]:
#longitud de la lista
len(amigos)

3

In [55]:
#acceder a los elementos de la lista
amigos[0]

'Joshua'

In [56]:
#agregar elementos a una lista
amigos.append('Paola')

In [57]:
amigos

['Joshua', 'Benito', 'Angel', 'Paola']

In [58]:
#eliminar un elemento de la lista
amigos.remove('Angel')

In [59]:
amigos

['Joshua', 'Benito', 'Paola']

In [60]:
amigos.remove('Angel')

ValueError: list.remove(x): x not in list

#### 5. Ciclos

In [62]:
novias = ['novia1','novia2','novia3']

for n in novias:
    print(f'Te quiero mucho {n}, eres unica para mi')

Te quiero mucho novia1, eres unica para mi
Te quiero mucho novia2, eres unica para mi
Te quiero mucho novia3, eres unica para mi

In [65]:
novias = [
    ['novia1',22,'Jugar Boliche'],
    ['novia2',21,'Ir al Cine'],
    ['novia3',35,'Ver Netflix']
]

for n in novias:
    print(f'Ayer sonie contigo {n[0]}, manana te veo para {n[2]}')

Ayer sonie contigo novia1, manana te veo para Jugar Boliche
Ayer sonie contigo novia2, manana te veo para Ir al Cine
Ayer sonie contigo novia3, manana te veo para Ver Netflix