# Introduction to Python

### Zero2Hero Academy

#### 1. Variables

In [3]:
x = 5
y = 10

In [4]:
x+y

15

In [5]:
x-y

-5

In [6]:
10*(x/y)**x

0.3125

In [13]:
a = 10
c = 7.5
b = ""

In [25]:
name = input('Nombre: ')
age = "24"

Nombre: Jonatan

In [24]:
name+' tiene '+str(age)+' anios'

'Jonatan tiene 24 anios'

In [27]:
int(age)/10

2.4

#### 2. Logica

In [31]:
10 > 3

True

In [36]:
username = "blankdank"
password = "1234"

user_username = input('username: ')
user_password = input('password: ')

username == user_username and password == user_password

username: h
password: h

False

In [46]:
nombre = 'christopher'
edad = 29

# criterios de seleccion
edad_max = 45
remuneracion_min = 200000

#aplicacion para que sugar mommies hagan match con sugar babies
user_age = input('age: ')
user_monthly = input('monthly colaboration: ')

#modelo de clasificacion
edad_max >= int(user_age) or float(user_monthly) >= remuneracion_min

age: 30
monthly colaboration: 25.5

True